<!DOCTYPE html>
<html>
<head>
    <title>Preco</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/menorPreco.css">
</head>

<body>

<div>

    <div class="header">
        <img id = "logo" src="/images/logo.png"/>
        <form method="get" action="/calculePreco" >
            <button style="font-size: 20px" class = "butao" > <i class="material-icons">&#xE317;</i> Voltar</button>
        </form>
    </div>

    <table class="tblHeader">
        <th>
            <h2 style="padding-top: 15px">Item : <%- item %> </h2>
        </th>
        <th>
            <button id = "pdf" class="butao"> Gerar PDF </button>
        </th>
    </table>


    <table id="tblData" border="1" cellpadding="2">
        <thead>
        <tr id = "headers">
            <th>CNPJ</th>
            <th>Razao Social</th>
            <th style="width: 250px">Preço</th>
            <th>Utilizado</th>
        </tr>
        </thead>
        <tbody id="tblbody">
        <% for(var i = 0; i < carrinho.length; i++){%>
        <tr>
            <td id = "0"> <%- carrinho[i].CNPJ %> </td>
            <td id = "1"> <%- carrinho[i].razao %></td>
            <td id = "2"><%- carrinho[i].preco %></td>
            <td id = "3"> <%- carrinho[i].utilizado === 1 ? "Sim" : "Não" %> </td>
        </tr>
        <%}%>
        </tbody>
    </table>
</div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
<script src = "/javascripts/orcamentoCalcula.js"></script>

</html>

