<!DOCTYPE html>
<html>
<head>
    <title>Preco</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/stylesheets/menorPreco.css">

</head>

<style>

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-top: 25px;
    }

    table thead {
        background-color: rgba(19, 35, 47, 0.9);
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        background-color: #eeeeee;
    }

</style>

<body>

    <div id = "selectGrupoPai" class="sel">
        <span class="sel__placeholder" data-placeholder="Grupo">Grupo</span>

    </div>

    <div id = "selectProdutoPai" class="sel">
        <span class="sel__placeholder" data-placeholder="Produto">Produto</span>

    </div>

    <div id = "selectRegiaoPai" class="sel">
        <span class="sel__placeholder" data-placeholder="Região">Região</span>

    </div>

    <button id="novoItem">New</button>

    <form style="display: inline; float: right;" method="post" action="/precomedio/orcamento">
        <button id="orcamento">Gerar orçamento</button>
        <input style="display: none" name="codigo" id = "codInput">
        <input style="display: none" name="quantidade" id = "qtInput">
        <input style="display: none" name="preco" id = "precoInput">
        <input style="display: none" name="regiao" id = "regiaoInput">
    </form>

        <div id="mydata">

            <table id="tblData" border="1" cellpadding="2">
                <thead >
                    <tr>
                        <th>Código</th>
                        <th>Nome Item</th>
                        <th>Especificação</th>
                        <th>Data</th>
                        <th>Unidade</th>
                        <th>Região</th>
                        <th>Qtd. de preços</th>
                        <th>Preço</th>
                        <th>Qtd. Compra</th>
                        <th>Valor Total</th>
                        <th>Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < carrinho.length; i++){%>
                            <tr>
                                <td id="codigo"> <%- carrinho[i].codigo %> </td>
                                <td><%- carrinho[i].nome.toLowerCase() %></td>
                                <td><%- carrinho[i].especificacao.toLowerCase() %></td>
                                <td> <%- carrinho[i].vencimento %> </td>
                                <td><%- carrinho[i].unidade %></td>
                                <td id = "regiao" ><%- carrinho[i].regiao %></td>
                                <td> <%- carrinho[i].qtdp %> </td>
                                <td id = "preco" class = 'preco'>
                                    <select>
                                        <option <% if(parseFloat(carrinho[i].precoFinal) === parseFloat(carrinho[i].precoMinimo)){%> selected="selected" <%}%> value="<%- carrinho[i].precoMinimo %>">R$ <%-carrinho[i].precoMinimo%> (minimo)  </option>
                                        <option <% if(parseFloat(carrinho[i].precoFinal) === parseFloat(carrinho[i].precoMedio)){%> selected="selected" <%}%> value="<%- carrinho[i].precoMedio %>">R$ <%-carrinho[i].precoMedio%> (medio)  </option>
                                        <option <% if(parseFloat(carrinho[i].precoFinal) === parseFloat(carrinho[i].precoMaximo)){%> selected="selected" <%}%> value="<%- carrinho[i].precoMaximo %>">R$ <%-carrinho[i].precoMaximo%> (maximo)  </option>
                                    </select>
                                </td>
                                <td id = 'quantidade' class ="modificaqt"><input type="number" min="0" style="width: 80px" value = '<%- carrinho[i].quantidade %>'> </td>
                                <td id ="valor"> <%- carrinho[i].precoFinal * carrinho[i].quantidade %> </td>
                                <td><img src="images/butaodeletar.png" class = 'deletar' width="20" height="20"> </td>
                            </tr>
                    <%}%>
                </tbody>
            </table>
        </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script src = "/javascripts/menorpreco.js"></script>

</html>

